
--USE [master]
--drop DATABASE [QuanLyXemPhim]
--GO
/****** Object:  Database [QuanLyXemPhim]    Script Date: 05/05/2025 23:33:31 ******/
CREATE DATABASE [QuanLyXemPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyXemPhim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyXemPhim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyXemPhim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QuanLyXemPhim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyXemPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyXemPhim]
GO
/****** Object:  User [NV08]    Script Date: 05/05/2025 23:33:31 ******/
CREATE USER [NV08] FOR LOGIN [NV08] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV07]    Script Date: 05/05/2025 23:33:31 ******/
CREATE USER [NV07] FOR LOGIN [NV07] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV06]    Script Date: 05/05/2025 23:33:31 ******/
CREATE USER [NV06] FOR LOGIN [NV06] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV05]    Script Date: 05/05/2025 23:33:31 ******/
CREATE USER [NV05] FOR LOGIN [NV05] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV04]    Script Date: 05/05/2025 23:33:31 ******/
CREATE USER [NV04] FOR LOGIN [NV04] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV03]    Script Date: 05/05/2025 23:33:31 ******/
CREATE USER [NV03] FOR LOGIN [NV03] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [NV02]    Script Date: 05/05/2025 23:33:31 ******/
CREATE USER [NV02] FOR LOGIN [NV02] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [admin]    Script Date: 05/05/2025 23:33:31 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [Staff]    Script Date: 05/05/2025 23:33:31 ******/
CREATE ROLE [Staff]
GO
/****** Object:  DatabaseRole [Manager]    Script Date: 05/05/2025 23:33:31 ******/
CREATE ROLE [Manager]
GO
ALTER ROLE [Staff] ADD MEMBER [NV08]
GO
ALTER ROLE [Staff] ADD MEMBER [NV07]
GO
ALTER ROLE [Staff] ADD MEMBER [NV06]
GO
ALTER ROLE [Staff] ADD MEMBER [NV05]
GO
ALTER ROLE [Staff] ADD MEMBER [NV04]
GO
ALTER ROLE [Staff] ADD MEMBER [NV03]
GO
ALTER ROLE [Staff] ADD MEMBER [NV02]
GO
ALTER ROLE [Manager] ADD MEMBER [admin]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_laThanhVien]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Function kiểm tra có tồn tại khách hàng thành viên thông qua số điện thoại
CREATE FUNCTION [dbo].[FUNC_laThanhVien](@phone varchar(50))
RETURNS BIT
	BEGIN
		DECLARE @isMember BIT
		SET @isMember = 0;
		IF EXISTS(SELECT * FROM KhachHang WHERE SoDienThoai = @phone)
			BEGIN
				SET @isMember = 1;
		END
		RETURN @isMember
	END
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_layGiaVe]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---- Lấy giá vé
CREATE FUNCTION [dbo].[FUNC_layGiaVe] (@Id varchar(50))
RETURNS money as
	BEGIN
		DECLARE @Price money
		SELECT @Price=GiaVe FROM CaChieu WHERE CaChieu.MaCaChieu = @Id
		RETURN @Price
	END 
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[MaPhim] [varchar](50) NOT NULL,
	[TenPhim] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[ThoiLuong] [float] NOT NULL,
	[NgayKhoiChieu] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[QuocGia] [nvarchar](50) NOT NULL,
	[DaoDien] [nvarchar](100) NULL,
	[NamSX] [int] NOT NULL,
	[GioiHanTuoi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CaChieu]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaChieu](
	[MaCaChieu] [varchar](50) NOT NULL,
	[ThoiGianChieu] [datetime] NOT NULL,
	[ThoiGianKetThuc] [datetime] NOT NULL,
	[MaPhong] [varchar](50) NOT NULL,
	[MaPhim] [varchar](50) NOT NULL,
	[GiaVe] [money] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[MaRap] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCaChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_layPhimTheoNgayChieu]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_layPhimTheoNgayChieu](@NgayChieu DATE)
RETURNS TABLE
AS
RETURN
(
    SELECT p.MaPhim, p.TenPhim, p.MoTa, p.ThoiLuong, p.NgayKhoiChieu, p.NgayKetThuc, p.QuocGia, p.DaoDien, p.NamSX, p.GioiHanTuoi
    FROM Phim AS p
    INNER JOIN CaChieu AS cc ON p.MaPhim = cc.MaPhim
    WHERE cc.TrangThai = 1
    AND CAST(cc.ThoiGianChieu AS DATE) <= @NgayChieu
    AND CAST(cc.ThoiGianKetThuc AS DATE) >= @NgayChieu
);
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_layPhimTheoThangChieu]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_layPhimTheoThangChieu](@NgayChieu DATE)
RETURNS TABLE
AS
RETURN
(
    SELECT DISTINCT 
        p.MaPhim, p.TenPhim, p.MoTa, p.ThoiLuong, p.NgayKhoiChieu, p.NgayKetThuc, 
        p.QuocGia, p.DaoDien, p.NamSX, p.GioiHanTuoi
    FROM Phim AS p
    JOIN CaChieu AS cc ON p.MaPhim = cc.MaPhim
    WHERE cc.TrangThai = 1
    AND YEAR(cc.ThoiGianChieu) = YEAR(@NgayChieu) 
    AND MONTH(cc.ThoiGianChieu) = MONTH(@NgayChieu)
);
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_layCaChieuTheoTenPhim]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FUNC_layCaChieuTheoTenPhim](@TenPhim NVARCHAR(100))
RETURNS TABLE
AS
	RETURN
	(
		SELECT cc.MaCaChieu, cc.MaRap, p.TenPhim, cc.ThoiGianChieu, cc.ThoiGianKetThuc, cc.TrangThai, cc.MaPhong
		FROM CaChieu as cc
		JOIN Phim as p ON p.MaPhim = cc.MaPhim
		WHERE cc.TrangThai = 1 
			AND p.TenPhim LIKE '%' + @TenPhim + '%'
	);
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[idNV] [varchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](100) NULL,
	[CMND] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_layTatCaNhanVien]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------STORE NHÂN VIÊN
----Store lấy tất cả các nhân viên 
CREATE FUNCTION [dbo].[FUNC_layTatCaNhanVien]()
RETURNS TABLE AS
	RETURN SELECT * FROM NhanVien
GO
/****** Object:  Table [dbo].[ChoNgoi]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChoNgoi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Hang] [char](1) NOT NULL,
	[So] [int] NOT NULL,
	[MaPhong] [varchar](50) NOT NULL,
	[MaKhachHang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComboBapNuoc]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComboBapNuoc](
	[MaCombo] [int] IDENTITY(1,1) NOT NULL,
	[TenCombo] [nvarchar](100) NULL,
	[Gia] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCombo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[Diachi] [nvarchar](100) NULL,
	[NamSinh] [int] NOT NULL,
	[SoDienThoai] [varchar](50) NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanLoaiPhim]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanLoaiPhim](
	[idPhim] [varchar](50) NOT NULL,
	[idTheLoai] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PhanLoaiPhim] PRIMARY KEY CLUSTERED 
(
	[idPhim] ASC,
	[idTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongChieu]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongChieu](
	[MaPhong] [varchar](50) NOT NULL,
	[TenPhong] [nvarchar](100) NOT NULL,
	[SoChoNgoi] [int] NOT NULL,
	[TinhTrang] [int] NOT NULL,
	[SoHangGhe] [int] NOT NULL,
	[SoGheMotHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rap]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rap](
	[MaRap] [varchar](50) NOT NULL,
	[TenRap] [nvarchar](100) NULL,
 CONSTRAINT [PK_Rap] PRIMARY KEY CLUSTERED 
(
	[MaRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[UserName] [nvarchar](100) NOT NULL,
	[Pass] [varchar](1000) NOT NULL,
	[LoaiTK] [int] NOT NULL,
	[idNV] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaLoaiPhim] [varchar](50) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 05/05/2025 23:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[LoaiVe] [int] NULL,
	[MaCaChieu] [varchar](50) NULL,
	[MaGheNgoi] [varchar](50) NULL,
	[MaKhachHang] [int] NULL,
	[TrangThai] [int] NOT NULL,
	[TienBanVe] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaChieu] ([MaCaChieu], [ThoiGianChieu], [ThoiGianKetThuc], [MaPhong], [MaPhim], [GiaVe], [TrangThai], [MaRap]) VALUES (N'MCC0001', CAST(N'2025-01-24T19:50:00.000' AS DateTime), CAST(N'2025-01-24T23:00:00.000' AS DateTime), N'R01', N'P0001', 90.0000, 1, N'OMG-01')
INSERT [dbo].[CaChieu] ([MaCaChieu], [ThoiGianChieu], [ThoiGianKetThuc], [MaPhong], [MaPhim], [GiaVe], [TrangThai], [MaRap]) VALUES (N'MCC0002', CAST(N'2025-01-23T08:50:00.000' AS DateTime), CAST(N'2025-01-23T11:00:00.000' AS DateTime), N'R01', N'P0002', 110.0000, 1, N'OMG-02')
INSERT [dbo].[CaChieu] ([MaCaChieu], [ThoiGianChieu], [ThoiGianKetThuc], [MaPhong], [MaPhim], [GiaVe], [TrangThai], [MaRap]) VALUES (N'MCC0003', CAST(N'2025-02-11T17:30:00.000' AS DateTime), CAST(N'2025-02-11T20:00:00.000' AS DateTime), N'R01', N'P0003', 90.0000, 1, N'OMG-03')
GO
SET IDENTITY_INSERT [dbo].[ComboBapNuoc] ON 

INSERT [dbo].[ComboBapNuoc] ([MaCombo], [TenCombo], [Gia]) VALUES (1, N'MY COMBO1', 95.0000)
INSERT [dbo].[ComboBapNuoc] ([MaCombo], [TenCombo], [Gia]) VALUES (2, N'MY COMBO2', 125.0000)
INSERT [dbo].[ComboBapNuoc] ([MaCombo], [TenCombo], [Gia]) VALUES (3, N'SPECIAL COMBO1', 249.0000)
SET IDENTITY_INSERT [dbo].[ComboBapNuoc] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [TenKhachHang], [Diachi], [NamSinh], [SoDienThoai], [DiemTichLuy]) VALUES (1, N'Đỗ Dương Quá', N'TP.Thủ Đức', 2002, N'0912990988', 11)
INSERT [dbo].[KhachHang] ([MaKH], [TenKhachHang], [Diachi], [NamSinh], [SoDienThoai], [DiemTichLuy]) VALUES (2, N'Phương Mỹ Chi', N'TP.Thủ Đức', 2002, N'0912922988', 5)
INSERT [dbo].[KhachHang] ([MaKH], [TenKhachHang], [Diachi], [NamSinh], [SoDienThoai], [DiemTichLuy]) VALUES (3, N'Nguyễn Minh Quốc', N'Quận 1', 1995, N'0987665456', 10)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
INSERT [dbo].[NhanVien] ([idNV], [HoTen], [NgaySinh], [DiaChi], [SDT], [CMND]) VALUES (N'NV01', N'Admin', CAST(N'2002-10-29' AS Date), N'Admin', N'0329039687', 123456789)
INSERT [dbo].[NhanVien] ([idNV], [HoTen], [NgaySinh], [DiaChi], [SDT], [CMND]) VALUES (N'NV02', N'Bùi Thanh Duy', CAST(N'2002-01-01' AS Date), N'Phú Yên', N'0344968599', 75234567)
INSERT [dbo].[NhanVien] ([idNV], [HoTen], [NgaySinh], [DiaChi], [SDT], [CMND]) VALUES (N'NV03', N'Phạm Nguyễn Nhựt Trường', CAST(N'2002-02-02' AS Date), N'Tiền Giang', N'0349685554', 75234568)
GO
INSERT [dbo].[PhanLoaiPhim] ([idPhim], [idTheLoai]) VALUES (N'P0001', N'T02')
INSERT [dbo].[PhanLoaiPhim] ([idPhim], [idTheLoai]) VALUES (N'P0001', N'T05')
INSERT [dbo].[PhanLoaiPhim] ([idPhim], [idTheLoai]) VALUES (N'P0002', N'T01')
GO
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [MoTa], [ThoiLuong], [NgayKhoiChieu], [NgayKetThuc], [QuocGia], [DaoDien], [NamSX], [GioiHanTuoi]) VALUES (N'P0001', N'LaLaland', NULL, 120, CAST(N'2025-02-14' AS Date), CAST(N'2025-03-14' AS Date), N'Hoa Kì', N'Damien Chazelle', 2016, 12)
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [MoTa], [ThoiLuong], [NgayKhoiChieu], [NgayKetThuc], [QuocGia], [DaoDien], [NamSX], [GioiHanTuoi]) VALUES (N'P0002', N'Harry Potter và Hòn Đá Phù Thủy', NULL, 120, CAST(N'2025-01-11' AS Date), CAST(N'2025-02-15' AS Date), N'Anh', N'Chris Columbus', 2018, 13)
INSERT [dbo].[Phim] ([MaPhim], [TenPhim], [MoTa], [ThoiLuong], [NgayKhoiChieu], [NgayKetThuc], [QuocGia], [DaoDien], [NamSX], [GioiHanTuoi]) VALUES (N'P0003', N'Chúa tể của những chiếc nhẫn', NULL, 150, CAST(N'2025-02-01' AS Date), CAST(N'2025-02-28' AS Date), N'Mỹ', N'Ralph Bakshi', 2016, 13)
GO
INSERT [dbo].[PhongChieu] ([MaPhong], [TenPhong], [SoChoNgoi], [TinhTrang], [SoHangGhe], [SoGheMotHang]) VALUES (N'R01', N'01', 100, 1, 10, 10)
INSERT [dbo].[PhongChieu] ([MaPhong], [TenPhong], [SoChoNgoi], [TinhTrang], [SoHangGhe], [SoGheMotHang]) VALUES (N'R02', N'02', 100, 1, 10, 10)
INSERT [dbo].[PhongChieu] ([MaPhong], [TenPhong], [SoChoNgoi], [TinhTrang], [SoHangGhe], [SoGheMotHang]) VALUES (N'R03', N'03', 100, 1, 10, 10)
GO
INSERT [dbo].[Rap] ([MaRap], [TenRap]) VALUES (N'OMG-01', N'OMG CN Tân Bình')
INSERT [dbo].[Rap] ([MaRap], [TenRap]) VALUES (N'OMG-02', N'OMG CN Vincom Đồng Khởi')
INSERT [dbo].[Rap] ([MaRap], [TenRap]) VALUES (N'OMG-03', N'OMG CN Aeon Tân Phú')
GO
INSERT [dbo].[TaiKhoan] ([UserName], [Pass], [LoaiTK], [idNV]) VALUES (N'admin', N'admin', 1, N'NV01')
INSERT [dbo].[TaiKhoan] ([UserName], [Pass], [LoaiTK], [idNV]) VALUES (N'NV02', N'123456', 2, N'NV02')
INSERT [dbo].[TaiKhoan] ([UserName], [Pass], [LoaiTK], [idNV]) VALUES (N'NV03', N'123450', 2, N'NV03')
GO
INSERT [dbo].[TheLoai] ([MaLoaiPhim], [TenTheLoai]) VALUES (N'T01', N'Hành Động')
INSERT [dbo].[TheLoai] ([MaLoaiPhim], [TenTheLoai]) VALUES (N'T02', N'Hoạt Hình')
INSERT [dbo].[TheLoai] ([MaLoaiPhim], [TenTheLoai]) VALUES (N'T03', N'Hài')
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([id], [LoaiVe], [MaCaChieu], [MaGheNgoi], [MaKhachHang], [TrangThai], [TienBanVe]) VALUES (101, 0, N'MCC0002', N'A-0                             ', NULL, 0, 0.0000)
INSERT [dbo].[Ve] ([id], [LoaiVe], [MaCaChieu], [MaGheNgoi], [MaKhachHang], [TrangThai], [TienBanVe]) VALUES (102, 0, N'MCC0002', N'A-1                             ', NULL, 0, 0.0000)
INSERT [dbo].[Ve] ([id], [LoaiVe], [MaCaChieu], [MaGheNgoi], [MaKhachHang], [TrangThai], [TienBanVe]) VALUES (103, 1, N'MCC0002', N'A-2                             ', NULL, 1, 90.0000)
GO
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_CaChieu]    Script Date: 05/05/2025 23:33:32 ******/
ALTER TABLE [dbo].[CaChieu] ADD  CONSTRAINT [UC_CaChieu] UNIQUE NONCLUSTERED 
(
	[MaPhim] ASC,
	[MaPhong] ASC,
	[ThoiGianChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_ChoNgoi]    Script Date: 05/05/2025 23:33:32 ******/
ALTER TABLE [dbo].[ChoNgoi] ADD  CONSTRAINT [UC_ChoNgoi] UNIQUE NONCLUSTERED 
(
	[Hang] ASC,
	[So] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__0389B7BD68CAD003]    Script Date: 05/05/2025 23:33:32 ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__NhanVien__F67C8D0BD1F6C48C]    Script Date: 05/05/2025 23:33:32 ******/
ALTER TABLE [dbo].[NhanVien] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PhongChi__AE382B29D38866D2]    Script Date: 05/05/2025 23:33:32 ******/
ALTER TABLE [dbo].[PhongChieu] ADD UNIQUE NONCLUSTERED 
(
	[TenPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__9DB8791D0633E5CF]    Script Date: 05/05/2025 23:33:32 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[idNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__C9F28456C9A640AB]    Script Date: 05/05/2025 23:33:32 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CaChieu] ADD  DEFAULT ('0') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ChoNgoi] ADD  DEFAULT ((-1)) FOR [MaKhachHang]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[PhongChieu] ADD  DEFAULT ((1)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((2)) FOR [LoaiTK]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT ('0') FOR [LoaiVe]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT ('0') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT ('0') FOR [TienBanVe]
GO
ALTER TABLE [dbo].[CaChieu]  WITH CHECK ADD FOREIGN KEY([MaPhim])
REFERENCES [dbo].[Phim] ([MaPhim])
GO
ALTER TABLE [dbo].[CaChieu]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongChieu] ([MaPhong])
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD  CONSTRAINT [FK_ChoNgoi_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[ChoNgoi] CHECK CONSTRAINT [FK_ChoNgoi_KhachHang]
GO
ALTER TABLE [dbo].[ChoNgoi]  WITH CHECK ADD  CONSTRAINT [FK_ChoNgoi_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PhongChieu] ([MaPhong])
GO
ALTER TABLE [dbo].[ChoNgoi] CHECK CONSTRAINT [FK_ChoNgoi_Phong]
GO
ALTER TABLE [dbo].[PhanLoaiPhim]  WITH CHECK ADD FOREIGN KEY([idPhim])
REFERENCES [dbo].[Phim] ([MaPhim])
GO
ALTER TABLE [dbo].[PhanLoaiPhim]  WITH CHECK ADD FOREIGN KEY([idTheLoai])
REFERENCES [dbo].[TheLoai] ([MaLoaiPhim])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([idNV])
REFERENCES [dbo].[NhanVien] ([idNV])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [FK_Ve_CaChieu] FOREIGN KEY([MaCaChieu])
REFERENCES [dbo].[CaChieu] ([MaCaChieu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [FK_Ve_CaChieu]
GO
ALTER TABLE [dbo].[PhongChieu]  WITH CHECK ADD  CONSTRAINT [CK_seat] CHECK  (([SoHangGhe]*[SoGheMotHang]=[SoChoNgoi]))
GO
ALTER TABLE [dbo].[PhongChieu] CHECK CONSTRAINT [CK_seat]
GO
/****** Object:  StoredProcedure [dbo].[USP_capNhatCaChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



----Store sửa ca chiếu
CREATE PROC [dbo].[USP_capNhatCaChieu] @MaCaChieu VARCHAR(50), @ThoiGianChieu DATETIME, @ThoiGianKetThuc DATETIME, 
@MaPhong VARCHAR(50), @MaPhim VARCHAR(50), @GiaVe MONEY, @MaRap VARCHAR(50)
AS
BEGIN
	UPDATE CaChieu SET ThoiGianChieu = @ThoiGianChieu, ThoiGianKetThuc = @ThoiGianKetThuc, MaPhong = @MaPhong, MaPhim = @MaPhim, GiaVe = @GiaVe, MaRap = @MaRap
	WHERE MaCaChieu = @MaCaChieu
END
GO
/****** Object:  StoredProcedure [dbo].[USP_capNhatDiem]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----Store xập nhật điểm tích lũy
CREATE PROC [dbo].[USP_capNhatDiem] @Diem int, @Sdt varchar(100)
AS 
	UPDATE KhachHang SET DiemTichLuy = @Diem WHERE SoDienThoai = @Sdt;
GO
/****** Object:  StoredProcedure [dbo].[USP_capNhatKhachHang]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----Store cập nhật thông tin khách hàng
CREATE PROCEDURE [dbo].[USP_capNhatKhachHang] @CusId INT, @name nvarchar(50), @address nvarchar(100), @birth int, @phone varchar(50), @point int
AS 
	UPDATE KhachHang SET TenKhachHang = @name, Diachi = @address, NamSinh = @birth, SoDienThoai = @phone, DiemTichLuy = @point
	WHERE MaKH = @CusId
GO
/****** Object:  StoredProcedure [dbo].[USP_capNhatNhanVien]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



----Store Cập nhật nhân viên
CREATE PROCEDURE [dbo].[USP_capNhatNhanVien] @id varchar(50), @name nvarchar(100), @birth date, @address nvarchar(100), @phone varchar(100), @identity int
AS 
	UPDATE NhanVien SET idNV = @id, HoTen = @name, NgaySinh = @birth, DiaChi = @address, SDT = @phone, CMND = @identity
	WHERE idNV = @id
GO
/****** Object:  StoredProcedure [dbo].[USP_capNhatPhongChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--Store cập nhật phòng chiếu
CREATE PROC [dbo].[USP_capNhatPhongChieu] @MaPhong VARCHAR(50), @TenPhong NVARCHAR(100) , @SoChoNgoi INT, @TinhTrang INT, @SoHangGhe int ,@SoGheMotHang int
AS
BEGIN
	UPDATE PhongChieu SET TenPhong = @TenPhong, SoChoNgoi = @SoChoNgoi, TinhTrang = @TinhTrang, SoHangGhe = @SoHangGhe , SoGheMotHang = @SoGheMotHang WHERE MaPhong = @MaPhong
END
GO
/****** Object:  StoredProcedure [dbo].[USP_capNhatRapPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- Store cập nhật rạp
CREATE PROC [dbo].[USP_capNhatRapPhim] @MaRap VARCHAR(50), @TenRap NVARCHAR(100)
AS
	UPDATE Rap Set TenRap = @TenRap Where MaRap = @MaRap
GO
/****** Object:  StoredProcedure [dbo].[USP_capNhatTinhTrangCaChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



----Store sửa tình trạng ca chiếu
CREATE PROC [dbo].[USP_capNhatTinhTrangCaChieu]
@MaCaChieu NVARCHAR(50), @TinhTrang int
AS
BEGIN
	UPDATE dbo.CaChieu
	SET TrangThai = @TinhTrang
	WHERE MaCaChieu = @MaCaChieu
END
GO
/****** Object:  StoredProcedure [dbo].[USP_capNhatTrangThaiVe]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- Store cập nhật trạng thái vé
CREATE PROC [dbo].[USP_capNhatTrangThaiVe] @maVe Int, @TienBanVe money, @LoaiVe int
AS
	UPDATE VE Set TrangThai = 1, TienBanVe = @TienBanVe, LoaiVe = @LoaiVe Where id = @maVe;
GO
/****** Object:  StoredProcedure [dbo].[USP_congDiemTichLuy]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--===================================================TẠO TRANSACTION==========================================================================
----Store + Transaction cập nhật điểm tích lũy cho khách hàng
CREATE PROC [dbo].[USP_congDiemTichLuy] @Sdt varchar(100), @bonus int
AS
	BEGIN TRANSACTION
		DECLARE @point int
		select @point = DiemTichLuy from KhachHang where SoDienThoai = @Sdt;
		set @point = @point + @bonus;
		update KhachHang set DiemTichLuy = @point where SoDienThoai = @Sdt;
		IF(@@ERROR > 0)  
		BEGIN  
			ROLLBACK TRANSACTION  
		END  
		ELSE  
		BEGIN  
			COMMIT TRANSACTION  
		END 
GO
/****** Object:  StoredProcedure [dbo].[USP_dangNhap]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--===================================================TẠO STORE============================================================================
----Store xử lý đăng nhập
CREATE PROC [dbo].[USP_dangNhap] @userName NVARCHAR(1000), @pass VARCHAR(1000)
AS
BEGIN
	SELECT * FROM dbo.TaiKhoan WHERE UserName = @userName AND Pass = @pass
END
GO
/****** Object:  StoredProcedure [dbo].[USP_hienDanhSachPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Store hien thi danh sach phim 
CREATE PROC [dbo].[USP_hienDanhSachPhim]
AS
BEGIN
	SELECT * FROM Phim
END
GO
/****** Object:  StoredProcedure [dbo].[USP_hienDanhSachTaiKhoan]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Thủ tục lấy danh sách các user
CREATE PROC [dbo].[USP_hienDanhSachTaiKhoan]
AS
BEGIN
	SELECT * FROM TaiKhoan
END
GO
/****** Object:  StoredProcedure [dbo].[USP_hienThiCaChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------STORE PHÂN LOẠI PHIM
-----------STORE CA CHIẾU
----Store hiện thị ca chiếu
CREATE PROC [dbo].[USP_hienThiCaChieu]
AS
BEGIN
	SELECT * FROM CaChieu
END
GO
/****** Object:  StoredProcedure [dbo].[USP_hienThiTheLoaiPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-----------STORE THỂ LOẠI
----Store lấy danh sách thể loại phim
CREATE PROC [dbo].[USP_hienThiTheLoaiPhim]
AS
BEGIN
	SELECT * FROM TheLoai
END
GO
/****** Object:  StoredProcedure [dbo].[USP_layCaChieuTheoVe]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--- Store lấy ca chếu theo vé
CREATE PROC [dbo].[USP_layCaChieuTheoVe]
AS
BEGIN
	select CaChieu.MaCaChieu, CaChieu.MaPhong, CaChieu.MaRap, Phim.TenPhim, CaChieu.TrangThai, CaChieu.ThoiGianChieu
	from Phim , CaChieu 
	where Phim.MaPhim = CaChieu.MaPhim
	order by ThoiGianChieu
END
GO
/****** Object:  StoredProcedure [dbo].[USP_layChiTietCaChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_layChiTietCaChieu] @MaCaChieu VARCHAR(50)
AS
SELECT CaChieu.*, TenPhong, SoChoNgoi, TinhTrang, SoHangGhe, SoGheMotHang, TenPhim, ThoiLuong, NgayKhoiChieu, NgayKetThuc, TenRap  FROM CaChieu INNER JOIN PhongChieu
ON Cachieu.MaPhong = PhongChieu.MaPhong
INNER JOIN Phim ON CaChieu.MaPhim = Phim.MaPhim
INNER JOIN Rap ON CaChieu.MaRap = Rap.MaRap 
WHERE CaChieu.maCaChieu = @MaCaChieu
GO
/****** Object:  StoredProcedure [dbo].[USP_layDanhSachCaChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



----Store lấy danh sách ca chiếu
CREATE PROC [dbo].[USP_layDanhSachCaChieu]
AS
BEGIN
	--SELECT   DISTINCT  CC.MaCaChieu, CC.MaPhong, P.TenPhim , CC.ThoiGianChieu, CC.ThoiGianKetThuc, CC.GiaVe
	--FROM dbo.CaChieu AS CC, dbo.Phim AS p, dbo.PhanLoaiPhim AS PL
	--WHERE CC.MaPhim = PL.idPhim AND p.MaPhim = PL.idPhim 
	SELECT   CC.MaCaChieu, CC.MaPhong, CC.MaRap, P.TenPhim , CC.ThoiGianChieu, CC.ThoiGianKetThuc, CC.GiaVe
	FROM dbo.CaChieu AS CC, dbo.Phim AS p
	WHERE CC.MaPhim = p.MaPhim

END
GO
/****** Object:  StoredProcedure [dbo].[USP_layDanhSachPhongChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-----------STORE PHÒNG CHIẾU
--Store lấy danh sách phòng chiếu
CREATE PROC [dbo].[USP_layDanhSachPhongChieu] 
AS
BEGIN
	SELECT * FROM PhongChieu
END
GO
/****** Object:  StoredProcedure [dbo].[USP_layDanhSachRapPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- store lấy danh sách rạp phim
CREATE PROC [dbo].[USP_layDanhSachRapPhim]
AS
BEGIN
	SELECT MaRap, TenRap FROM Rap
END
GO
/****** Object:  StoredProcedure [dbo].[USP_layDoanhThuBoiPhimVaNgay]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----- DOANH THU ---
CREATE PROC [dbo].[USP_layDoanhThuBoiPhimVaNgay]
@idMovie VARCHAR(50), @fromDate date, @toDate date
AS
BEGIN
	SELECT P.TenPhim AS [Tên phim], CONVERT(DATE, CC.ThoiGianChieu) AS [Ngày chiếu], CONVERT(TIME(0),CC.ThoiGianChieu) AS [Giờ chiếu], COUNT(V.id) AS [Số vé đã bán], SUM(TienBanVe) AS [Tiền vé]
	FROM dbo.Ve AS V, dbo.CaChieu AS CC, Phim AS P
	WHERE V.MaCaChieu= CC.MaCaChieu AND CC.MaPhim = P.MaPhim AND V.TrangThai = 1 AND P.MaPhim = @idMovie AND CC.ThoiGianChieu >= @fromDate AND CC.ThoiGianChieu <= @toDate
	GROUP BY V.MaCaChieu, P.TenPhim, CC.ThoiGianChieu
END
GO
/****** Object:  StoredProcedure [dbo].[USP_layTatCaKhachHang]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-----------STORE KHÁCH HÀNG
----Store lấy ra danh sách tất cả khách hàng
CREATE PROCEDURE [dbo].[USP_layTatCaKhachHang]
AS
	SELECT MaKH, TenKhachHang, Diachi, NamSinh, SoDienThoai, DiemTichLuy FROM KhachHang;
GO
/****** Object:  StoredProcedure [dbo].[USP_layTheLoaiBoiPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- store lấy thế loại bởi mã phim
CREATE PROC [dbo].[USP_layTheLoaiBoiPhim] @MaPhim VARCHAR(50)
AS
BEGIN
	SELECT TL.MaLoaiPhim, TenTheLoai
	FROM dbo.PhanLoaiPhim PL, dbo.TheLoai TL
	WHERE PL.idPhim = @MaPhim AND PL.idTheLoai = TL.MaLoaiPhim
END
GO
/****** Object:  StoredProcedure [dbo].[USP_layThongTinKhachHang]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----Store lấy thông tin của khách hàng dựa vào số điện thoại đăng ký thành viên
CREATE PROC [dbo].[USP_layThongTinKhachHang] @Sdt varchar(100)
AS
	SELECT DISTINCT * FROM KhachHang Where SoDienThoai = @Sdt
GO
/****** Object:  StoredProcedure [dbo].[USP_suaDanhSachPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Store sua danh sach phim
CREATE PROC [dbo].[USP_suaDanhSachPhim] @MaPhim VARCHAR(50), @TenPhim NVARCHAR(100), @MoTa NVARCHAR(1000), @ThoiLuong FLOAT, @NgayKhoiChieu DATE,
@NgayKetThuc DATE, @QuocGia NVARCHAR(50), @DaoDien NVARCHAR(100), @NamSX int, @GioiHanTuoi INT
AS
BEGIN
	UPDATE Phim SET TenPhim = @TenPhim, MoTa = @MoTa, ThoiLuong = @ThoiLuong, NgayKhoiChieu = @NgayKhoiChieu, NgayKetThuc = @NgayKetThuc, @NamSX = NamSX, QuocGia = @QuocGia, DaoDien = @DaoDien WHERE MaPhim = @MaPhim
END
GO
/****** Object:  StoredProcedure [dbo].[USP_suaDanhSachTaiKhoan]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Thủ tục cập nhật thông tin tài khoản user
CREATE PROC [dbo].[USP_suaDanhSachTaiKhoan] @UserName NVARCHAR(100), @Pass NVARCHAR(1000), @LoaiTK INT, @idNV VARCHAR(50)
AS
BEGIN
	UPDATE TaiKhoan SET Pass = @Pass WHERE idNV = @idNV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_suaTheLoaiPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



----Store sửa thể loại phim
CREATE PROC [dbo].[USP_suaTheLoaiPhim] @MaLoaiPhim  VARCHAR(50), @TenTheLoai NVARCHAR(100)
AS
BEGIN
	UPDATE TheLoai SET TenTheLoai = @TenTheLoai WHERE MaLoaiPhim = @MaLoaiPhim
END
GO
/****** Object:  StoredProcedure [dbo].[USP_suDungDiemTichLuy]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----Store + Transaction sử dụng điểm tích lũy 
CREATE PROC [dbo].[USP_suDungDiemTichLuy] @Sdt varchar(100)
AS
	BEGIN TRANSACTION
		DECLARE @point int
		select @point = DiemTichLuy from KhachHang where SoDienThoai = @Sdt;
		update KhachHang set DiemTichLuy = 0 where SoDienThoai = @Sdt;
		IF(@@ERROR > 0)  
		BEGIN  
			ROLLBACK TRANSACTION
		END  
		ELSE  
		BEGIN  
			COMMIT TRANSACTION  
		END 
GO
/****** Object:  StoredProcedure [dbo].[USP_themCaChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Store thêm ca chiếu
CREATE PROC [dbo].[USP_themCaChieu] @MaCaChieu VARCHAR(50), @ThoiGianChieu DATETIME, @ThoiGianKetThuc DATETIME, 
@MaPhong VARCHAR(50), @MaPhim VARCHAR(50), @GiaVe MONEY, @MaRap VARCHAR(50)
AS
BEGIN
	INSERT INTO CaChieu(MaCaChieu, ThoiGianChieu, ThoiGianKetThuc, MaPhong, MaPhim, GiaVe, MaRap)
	VALUES (@MaCaChieu, @ThoiGianChieu, @ThoiGianKetThuc, @MaPhong, @MaPhim, @GiaVe, @MaRap)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_themDanhSachPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--------------Phim
--Store Them danh sach phim
CREATE PROC [dbo].[USP_themDanhSachPhim] @MaPhim VARCHAR(50), @TenPhim NVARCHAR(100), @MoTa NVARCHAR(1000), @ThoiLuong FLOAT, @NgayKhoiChieu DATE,
@NgayKetThuc DATE, @QuocGia NVARCHAR(50), @DaoDien NVARCHAR(100), @NamSX INT, @GioiHanTuoi INT
AS
BEGIN
	INSERT Phim (MaPhim, TenPhim, MoTa, ThoiLuong, NgayKhoiChieu, NgayKetThuc,QuocGia, DaoDien, NamSX, GioiHanTuoi) 
VALUES (@MaPhim, @TenPhim, @MoTa, @ThoiLuong, @NgayKhoiChieu , @NgayKetThuc, @QuocGia, @DaoDien, @NamSX, @GioiHanTuoi)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_themDanhSachTaiKhoan]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



------STORE TaiKhoan
--Thủ tục thêm mới tài khoản user
CREATE PROC [dbo].[USP_themDanhSachTaiKhoan] @UserName NVARCHAR(100), @Pass NVARCHAR(1000), @LoaiTK INT, @idNV VARCHAR(50)
AS
BEGIN
	INSERT TaiKhoan (UserName, Pass,LoaiTK, idNV) VALUES (@UserName, @Pass , @LoaiTK, @idNV)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_themKhachHang]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

----Store thêm khách hàng
CREATE PROCEDURE [dbo].[USP_themKhachHang] @TenKhachHang nvarchar(50), @DiaChi nvarchar(100), @NamSinh int, @SoDienThoai varchar(50), @Diem int
AS
	INSERT INTO KhachHang(TenKhachHang, DiaChi, NamSinh, SoDienThoai, DiemTichLuy) 
	VALUES(@TenKhachHang, @DiaChi, @NamSinh, @SoDienThoai, @Diem)
GO
/****** Object:  StoredProcedure [dbo].[USP_themNhanVien]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----Store Thêm nhân viên
CREATE PROCEDURE [dbo].[USP_themNhanVien] @idNV varchar(50), @HoTen nvarchar(100), @NgaySinh date, @DiaChi varchar(100), @SDT varchar(100), @CMND int
AS
	INSERT INTO NhanVien(idNV , HoTen , NgaySinh , DiaChi , SDT , CMND) 
	VALUES(@idNV, @HoTen , @NgaySinh , @DiaChi , @SDT , @CMND )
GO
/****** Object:  StoredProcedure [dbo].[USP_themPhongChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Store thêm phòng chiếu
CREATE PROC [dbo].[USP_themPhongChieu] @MaPhong VARCHAR(50), @TenPhong NVARCHAR(100) , @SoChoNgoi INT, @TinhTrang INT, @SoHangGhe int ,@SoGheMotHang int
AS
BEGIN
	INSERT INTO PhongChieu(MaPhong, TenPhong, SoChoNgoi, TinhTrang, SoHangGhe, SoGheMotHang) VALUES (@MaPhong, @TenPhong, @SoChoNgoi, @TinhTrang, @SoHangGhe, @SoGheMotHang)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_themRapPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Store thêm rạp phim
CREATE PROC [dbo].[USP_themRapPhim] @MaRap  VARCHAR(50), @TenRap NVARCHAR(100)
AS
BEGIN
	INSERT INTO Rap (MaRap, TenRap) VALUES (@MaRap, @TenRap)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_themTheLoaiPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



---Store thêm thể loại phim
CREATE PROC [dbo].[USP_themTheLoaiPhim] @MaLoaiPhim  VARCHAR(50), @TenTheLoai NVARCHAR(100)
AS
BEGIN
	INSERT INTO TheLoai (MaLoaiPhim, TenTheLoai) VALUES (@MaLoaiPhim, @TenTheLoai)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_themVeCaChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




-----------STORE VÉ
----Store thêm vé bằng mã ca chiếu
CREATE PROC [dbo].[USP_themVeCaChieu]
@MaCaChieu VARCHAR(50), @MaGheNgoi VARCHAR(50)
AS
BEGIN
	INSERT INTO dbo.Ve (MaCaChieu, MaGheNgoi, MaKhachHang)
	VALUES(@MaCaChieu, @MaGheNgoi, null)
END
GO
/****** Object:  StoredProcedure [dbo].[USP_xoaCaChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--STORE xóa ca chiếu
CREATE PROC [dbo].[USP_xoaCaChieu] @MaCaChieu VARCHAR(50)
AS
BEGIN
	DELETE FROM CaChieu WHERE MaCaChieu = @MaCaChieu
END
GO
/****** Object:  StoredProcedure [dbo].[USP_xoaDanhSachPhimTuCaChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Store xoa danh sach phim
CREATE PROC [dbo].[USP_xoaDanhSachPhimTuCaChieu] @MaPhim varchar(50)
AS
BEGIN 
	DELETE FROM PhanLoaiPhim WHERE idPhim = @MaPhim
	DELETE FROM CaChieu WHERE MaPhim = @MaPhim
	DELETE FROM Phim WHERE MaPhim = @MaPhim

END
GO
/****** Object:  StoredProcedure [dbo].[USP_xoaDanhSachTaiKhoan]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Thủ tục xóa tài khoản user
CREATE PROC [dbo].[USP_xoaDanhSachTaiKhoan] @idNV VARCHAR(50)
AS
BEGIN
	DELETE TaiKhoan WHERE idNV = @idNV
END
GO
/****** Object:  StoredProcedure [dbo].[USP_xoaKhachHang]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



----Store xóa khách hàng bởi id
CREATE PROCEDURE [dbo].[USP_xoaKhachHang] @CusID INT
AS
	DELETE FROM KhachHang WHERE MaKH = @CusID
GO
/****** Object:  StoredProcedure [dbo].[USP_xoaNhanVien]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





----Store xóa nhân viên
CREATE PROCEDURE [dbo].[USP_xoaNhanVien] @StaffID varchar(50)
AS
	DELETE FROM NhanVien WHERE idNV = @StaffID
GO
/****** Object:  StoredProcedure [dbo].[USP_xoaPhongChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Store xóa Phòng chiếu
CREATE PROC [dbo].[USP_xoaPhongChieu] @MaPhong VARCHAR(50)
AS
BEGIN
	DELETE FROM PhongChieu WHERE MaPhong = @MaPhong
END
GO
/****** Object:  StoredProcedure [dbo].[USP_xoaRapPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----Store xóa rạp phim
CREATE PROC [dbo].[USP_xoaRapPhim] @MaRap  VARCHAR(50)
AS
BEGIN
	DELETE FROM Rap WHERE MaRap = @MaRap
END
GO
/****** Object:  StoredProcedure [dbo].[USP_xoaTheLoaiPhim]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



----Store xóa thể loại phim
CREATE PROC [dbo].[USP_xoaTheLoaiPhim] @MaLoaiPhim  VARCHAR(50)
AS
BEGIN
	DELETE FROM TheLoai WHERE MaLoaiPhim = @MaLoaiPhim
END
GO
/****** Object:  StoredProcedure [dbo].[USP_xoaVeBoiMaCaChieu]    Script Date: 05/05/2025 23:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


----Store xóa vé bằng mã ca chiếu
CREATE PROC [dbo].[USP_xoaVeBoiMaCaChieu]
@MaCaChieu VARCHAR(50)
AS
BEGIN
	DELETE FROM dbo.Ve
	WHERE MaCaChieu = @MaCaChieu
END
GO
USE [master]
GO
